.VerFilme-container__infos {
  display: flex;
  height: 600px;
  background-color: #2d0c5e;
  color: #fff;
  padding: 50px 0 0 70px;
}

.VerFilme-container__infos img {
  width: 380px;
  height: 575px;
}

.VerFilme-description {
  margin-left: 50px;
}
