.recomendacoes-container {
  background-color: #dddd;
  padding: 0 75px 100px;
}

.recomendacoes-container h1 {
  font-size: 28px;
  color: #131313;
  margin-bottom: 15px;
}

.recomendacoes {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.recomendacoes a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .recomendacoes-container {
    padding: 0 20px 100px;
  }
}
