.paginacao-container {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 75px auto 100px;
}

.paginacao-container__hidden {
  display: none;
}

.paginacao-container__paginas {
  display: flex;
  overflow: hidden;
  width: 150px;
}

.paginas-container {
  display: flex;
  width: 200px;
}
.paginacao-container p {
  color: var(--genres-color);
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.previus-page__none,
.next-page__none {
  display: none;
}

.previus-page,
.next-page {
  display: block;
}
