.categorias-container {
  background-color: var(--genres-bg);
}

.categorias-container h1 {
  color: var(--white);
  font-family: 48px;
  text-align: center;
  padding: 100px 0 50px;
}
.categorias-container p {
  text-align: center;
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  .categorias-container h1 {
    text-align: left;
    margin: 0 40px;
    font-family: 24px;
  }
  .categoria-container {
    justify-content: start;
    margin: 0 3%;
  }
}
