.filmes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 70px;
}

.filmes-container a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .filmes-container {
    justify-content: center;
  }
}
