.navbar-container {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: #5c16c5;
}
.navbar-container img {
  height: 40%;
  margin-left: 70px;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    justify-content: center;
  }
  .navbar-container img {
    margin-left: 0;
  }
}
